<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Hi there</h1>
  <p>This is Embedded Ruby</p>
  <a href="https://github.com/CoWinkKeyDinkInc">CoWinkKeyDinkInc was here and created all these files.</a>
</body>
</html>
