%html
  %body
    %h1 Hi there
    %p This is Haml
    %a{:href => "https://github.com/CoWinkKeyDinkInc"} CoWinkKeyDinkInc was here and created all these files.
    %p Haml is not worth it guys, believe me. I find it really clunky and it stinks.
    %p Just stick to ERB if you can I beg of you lads, it's really crap when you're making stuff, editing's ok.
    %p Just get your layout planned first, OK???
